<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SunzongjiandeOAbangong</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserServlet</display-name>
    <servlet-name>SelectUserServlet</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.SelectUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserServlet</servlet-name>
    <url-pattern>/SelectUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiffUsersServlet</display-name>
    <servlet-name>DiffUsersServlet</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.DiffUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiffUsersServlet</servlet-name>
    <url-pattern>/DiffUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserby_idServlet</display-name>
    <servlet-name>SelectUserby_idServlet</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.SelectUserby_idServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserby_idServlet</servlet-name>
    <url-pattern>/SelectUserby_idServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserby_idServlet</display-name>
    <servlet-name>DeleteUserby_idServlet</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.DeleteUserby_idServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserby_idServlet</servlet-name>
    <url-pattern>/DeleteUserby_idServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInfo</display-name>
    <servlet-name>AddInfo</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.AddInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInfo</servlet-name>
    <url-pattern>/AddInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDefaultInfoServlet</display-name>
    <servlet-name>ShowDefaultInfoServlet</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.ShowDefaultInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDefaultInfoServlet</servlet-name>
    <url-pattern>/ShowDefaultInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDefaultEmail</display-name>
    <servlet-name>ShowDefaultEmail</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.ShowDefaultEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDefaultEmail</servlet-name>
    <url-pattern>/ShowDefaultEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInfoById</display-name>
    <servlet-name>ShowInfoById</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.ShowInfoById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInfoById</servlet-name>
    <url-pattern>/ShowInfoById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDiary</display-name>
    <servlet-name>AddDiary</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.AddDiary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDiary</servlet-name>
    <url-pattern>/AddDiary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDiaryByDate</display-name>
    <servlet-name>SelectDiaryByDate</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.SelectDiaryByDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDiaryByDate</servlet-name>
    <url-pattern>/SelectDiaryByDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendNotice</display-name>
    <servlet-name>SendNotice</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.SendNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendNotice</servlet-name>
    <url-pattern>/SendNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllDiary</display-name>
    <servlet-name>SelectAllDiary</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.SelectAllDiary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllDiary</servlet-name>
    <url-pattern>/SelectAllDiary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmail</display-name>
    <servlet-name>AddEmail</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.AddEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmail</servlet-name>
    <url-pattern>/AddEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInfoById</display-name>
    <servlet-name>DeleteInfoById</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.DeleteInfoById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInfoById</servlet-name>
    <url-pattern>/DeleteInfoById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSelf</display-name>
    <servlet-name>UpdateSelf</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.UpdateSelf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSelf</servlet-name>
    <url-pattern>/UpdateSelf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImgServlet</display-name>
    <servlet-name>ImgServlet</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.ImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgServlet</servlet-name>
    <url-pattern>/ImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDiaryByjin</display-name>
    <servlet-name>SelectDiaryByjin</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.SelectDiaryByjin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDiaryByjin</servlet-name>
    <url-pattern>/SelectDiaryByjin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletediaryby_idServlet</display-name>
    <servlet-name>Deletediaryby_idServlet</servlet-name>
    <servlet-class>com.oabangong.mvc.servlet.Deletediaryby_idServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletediaryby_idServlet</servlet-name>
    <url-pattern>/Deletediaryby_idServlet</url-pattern>
  </servlet-mapping>
</web-app>